body {
    background-color: #333333;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0px;
}

.centered {
    text-align: center;
}

header{
    padding: 10px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}
 
.menu {
    background-color: #444444;
    padding: 10px;
}

.menu .dropdown .dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

pre {
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 5px;
}

code {
    display: block;
    white-space: pre-wrap;
    font-size: 0.9em;
}

/* Dropdown Button */
.dropbtn {
    background-color: #444444;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #444444;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3f3a3a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #545454;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.container img {
    max-width: 100%;
    height: auto;
}

.rounded{
    border-radius: 10px;
}